
body {
font-family: Arial;
background-color: #009688;
}

.login {
margin: 20px auto;
width: 1000px;
}

.texte{
  width: 650px;
}

.nom{
  font-size: 25px;
  text-align: center;
}

.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px;
}

.app-title {
margin-top : -35px;
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

.couleur{
	height:50px;
	width:70px;
	padding:10px;
	margin-left:10px;
}

.imput {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 30px;
font-weight: 200;
padding: 10px 0;
width: 500px;
transition: border .5s;
color:#A4A4A4;
}

.imput:focus {
border: 2px solid #009688;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #009688;
  color: #ffffff;
  font-size: 20px;
  line-height: 15px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 300px;
  margin-left: 0px;
  margin-top: 200px;
}

.btn:hover {
  background-color: #004d40;
}

.btn2 {
  border: 2px solid transparent;
  background: #009688;
  color: #ffffff;
  font-size: 40px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width:650px;
  margin:0 auto;
}

.btn2:hover {
  background-color: #004d40;
}

.instal{
  background:blue;
  width: 1000px;
  height: 350px;
}



a:link{
  text-decoration:none;
}

td{
border-width:0px;
border-style:none;
text-align:center;
}

.div_carte{
display:block;
margin-left:auto;
margin-right : auto;
width: 300px;
height: 300px;
}

table{
border-width:0px;
border-style:none;
margin: auto;
border-collapse: collapse;
}

p{
	font-size:25px;
	margin : auto;
	display:block;
}

.real{
	margin-left: 670px;
	font-size:13px;
	margin-bottom:-10px;
	margin-top:50px;
}


.acceuil
{
    text-align: right;
    font-size: 30px;
    padding: 10px;
    color:#A4A4A4;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin:auto;
    width: 1000px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}



